.forgotpassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  padding: 30px;
  width: auto;
  border-radius: 20px;
  background-color: #FAF5F5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .forgotpassword img{
    height: 200px;
    width: 200px;
  }
  .Enterpasswordlabel{
    margin-top:  40px;
  }
  .forgotpassword label{
    margin-bottom: 5px;
  }
  .forgotpassword input{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
  }
  .forgotpassword button{
    background-color: #0D140D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .forgotpassword button:hover {
    background-color: #323330;
  }
  .forgotpassword p {
    color: red;
    margin-top: 10px;
  }
   .forgotpassword b{
    font-size:xx-large;
   }
  .Forgotpassword-container{
    display: flex;
    justify-content:center;
    background-image: linear-gradient(to right top, #10d49c, #00caa1, #00bfa4, #00b5a4, #00aaa3, #009b9d, #008c95, #007d8b, #00677a, #045267, #093d52, #0a2a3d);
  }
  .back img{
width: 40px;
height: 40px;
mix-blend-mode: color-burn;
opacity: 0.5;
  }
  .back{
    position: relative;
    right: 200px;
    bottom: 20px;
  }
  @media only screen and (max-width: 767px) {
    .forgotpassword {
      padding: 20px;
    }
    .forgotpassword img {
      height: 150px;
      width: 150px;
    }
    .forgotpassword input {
      width: 100%;
      max-width: 400px;
    }
    .back {
      right: 0;
      position: relative;
      right: 110px;
       }
    .back img{
      width: 40px;
      height: 40px;
      mix-blend-mode: color-burn;
      opacity: 0.5;
        }
  }