.form-container{
  width: 800px;
  margin: 0 auto;
  padding: 25px;
  height: auto;
  background-image: linear-gradient(to left bottom, #10D49C, #00CAA1, #00BFA4, #00B5A4, #00AAA3, #009B9D, #008C95);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
}
.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}
.form-left{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0%;
}
.form-left img{
  height: 450px;
  width: 450px;
}
.form-left b{
  font-size: xx-large;
  text-align: center;
}
/* .form-container label {
  display: block;
  margin-bottom: 10px;
}
 */
.form-container input[type="text-6"],
.form-container input[type="tel"],
.form-container input[type="email"],
#fname input,#email-pi input,#country-pi input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.form-container input[type="file"] {
  margin-bottom: 20px;
}
.next{
  background-color: #04E5A7;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  display: block;
  margin: auto;
}
.next-1{
  background-color: #04E5A7;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  display: block;
  margin: auto;
}
.pi-row1{
  display: flex;
  flex-direction: row;
}
#fname{
  width: 40%;
  position: relative;
  left: 8%;
}
#email-pi{
 width: 40%;
 position: relative;
  left: 12%;
}
#phone-pi{
position: relative;
  width: 85%;
  left:8%;
}
#city-pi{
position: relative;
width: 40%;
left:8%;
}
.pi-row3{
  display: flex;
  flex-direction: row;
}
#state-pi{
position: relative;
  width:41%;
  left: 12%;
  top:34px;
}
#country-pi{
position: relative;
  width: 85%;
  left:8%;
}
.Personalinfo-container{
  display: flex;
  flex-direction: row ;
  background-image: linear-gradient(to right top, #10D49C, #00CAA1, #00BFA4, #00B5A4, #00AAA3, #009B9D, #008C95, #007D8B, #00677A, #045267
, #093D52, #0A2A3D);}
  .form-container h1{
    font-size: xx-large;
  }